<section>
  <div class="w-full bg-yellow-primary flex justify-center">
    <div class="container flex flex-wrap my-20 px-5 lg:px-0">
      <div class="w-full lg:w-1/3">
        <div class="w-full pr-0 lg:pr-10 mt-10 flex flex-col items-center lg:items-start text-center lg:text-left">
          <h2 class="text-4xl text-gray-primary">My Latest Work</h2>
          <p class="mt-5 text-center lg:text-justify">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p class="mt-5 text-center lg:text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          <a href="#">
            <div class="px-10 py-5 border border-gray-primary border-solid mt-5">
              <p>More Works</p>
            </div>
          </a>
        </div>
      </div>
      <div class="w-full lg:w-2/3">
        <div class="w-full flex flex-wrap">
          {% set projectEntryQuery = craft.entries().section('project').limit(6) %}
          {% set entries = projectEntryQuery.all() %}
          {% for entry in entries %}
          <div class="w-full md:w-1/2 pl-2 pr-2 lg:pl-10 lg:pr-0 mt-10">
            <div class="w-full h-4 bg-gray-primary"></div>
            <div class="w-full h-64 bg-center bg-cover bg-no-repeat" style="background-image: url('{{ entry.projectFeaturedImage.one().url }}')"></div>
            <div class="w-full py-10 bg-white relative">
              <div class="w-12 h-12 bg-white absolute top-0 left-1/2 tf_tlAll_-50 rounded-full shadow-md"></div>
              <div class="px-8 flex flex-col">
                <div class="pb-2 border-b border-gray-300 border-solid text-center md:text-left">
                  <h3>{{ entry.title }}</h3>
                  <p>{{ entry.projectDate|date('d /M /Y', timezone="Australia/Melbourne")}}</p>
                </div>
                <div class="my-2 h-24 text-center md:text-left">
                  <p class="h-full overflow-hidden whitespace-normal">{{ entry.projectDescription }}</p>
                  <p>...</p>
                </div>
              </div>
            </div>
            <a href="{{ entry.url }}">
              <div class="w-full flex justify-center items-center bg-gray-primary py-3">
                <p class="text-white">VIEW MORE</p>
              </div>
            </a>
          </div>
          {% endfor %}
          {# <div class="w-1/2 pl-10 mt-10">
            <div class="w-full h-4 bg-gray-primary"></div>
            <div class="w-full h-64 bg-center bg-cover bg-no-repeat" style="background-image: url('https://images.unsplash.com/photo-1540593463874-59835505e99d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80')"></div>
            <div class="w-full py-10 bg-white relative">
              <div class="w-12 h-12 bg-white absolute top-0 left-1/2 tf_tlAll_-50 rounded-full shadow-md"></div>
              <div class="px-8 flex flex-col">
                <div class="pb-2 border-b border-gray-300 border-solid">
                  <h3>MAIN TITLE</h3>
                  <p>16 / SEPT / 2019</p>
                </div>
                <div class="my-2 h-28">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been... the industry’s standard dummy text ever since the 1500s...</p>
                </div>
              </div>
            </div>
            <a href="#">
              <div class="w-full flex justify-center items-center bg-gray-primary py-3">
                <p class="text-white">VIEW MORE</p>
              </div>
            </a>
          </div>

          <div class="w-1/2 pl-10 mt-10">
            <div class="w-full h-4 bg-gray-primary"></div>
            <div class="w-full h-64 bg-center bg-cover bg-no-repeat" style="background-image: url('https://images.unsplash.com/photo-1540593463874-59835505e99d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80')"></div>
            <div class="w-full py-10 bg-white relative">
              <div class="w-12 h-12 bg-white absolute top-0 left-1/2 tf_tlAll_-50 rounded-full shadow-md"></div>
              <div class="px-8 flex flex-col">
                <div class="pb-2 border-b border-gray-300 border-solid">
                  <h3>MAIN TITLE</h3>
                  <p>16 / SEPT / 2019</p>
                </div>
                <div class="my-2 h-28">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been... the industry’s standard dummy text ever since the 1500s...</p>
                </div>
              </div>
            </div>
            <a href="#">
              <div class="w-full flex justify-center items-center bg-gray-primary py-3">
                <p class="text-white">VIEW MORE</p>
              </div>
            </a>
          </div>

          <div class="w-1/2 pl-10 mt-10">
            <div class="w-full h-4 bg-gray-primary"></div>
            <div class="w-full h-64 bg-center bg-cover bg-no-repeat" style="background-image: url('https://images.unsplash.com/photo-1540593463874-59835505e99d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80')"></div>
            <div class="w-full py-10 bg-white relative">
              <div class="w-12 h-12 bg-white absolute top-0 left-1/2 tf_tlAll_-50 rounded-full shadow-md"></div>
              <div class="px-8 flex flex-col">
                <div class="pb-2 border-b border-gray-300 border-solid">
                  <h3>MAIN TITLE</h3>
                  <p>16 / SEPT / 2019</p>
                </div>
                <div class="my-2 h-28">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been... the industry’s standard dummy text ever since the 1500s...</p>
                </div>
              </div>
            </div>
            <a href="#">
              <div class="w-full flex justify-center items-center bg-gray-primary py-3">
                <p class="text-white">VIEW MORE</p>
              </div>
            </a>
          </div> #}


        </div>
      </div>
    </div>
  </div>
</section>
